.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.none {
    display: none;
}

.forca {
    display: flex;
    justify-content: space-between;
}

.forca button {
    width: 150px;
    height: 50px;
    background-color:green;
    border-radius: 5px;
    color: white;
    border: none;
    font-size: 15px;
    margin-top: 30px;
}

.forca img {
    width: 45%;
}

.alfabeto {
    max-width: 650px;
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap; 
}

.alfabetoButtonDisable {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(141, 141, 141);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    color: rgb(73, 73, 73);
}

.alfabetoButtonEnable {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: rgb(0, 204, 255);
    border: 1px solid blue;
    border-radius: 2px;
    font-size: 20px;
    color: rgb(73, 73, 73);
}

.jaSei {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}

.jaSei p {
    width: 150px;
}

.jaSei input {
    width: 100%;
    height: 20px;
}

.escolherPalavra {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jaSei button {
    width: 70px;
    height: 35px;
    margin: 10px;
    background-color: rgb(150, 150, 243);
    border: 1px solid blue;
    color: blue;
    border-radius: 3px;
    font-size: 15px;
}

.palavra {
    height: 50px;
}